@import "./var.scss";

#root {
	background: radial-gradient(58vw 77vh at 40% 100%, transparent 40%, rgba($color2, 7%), transparent 60%),
		linear-gradient(45deg, transparent 54%, rgba($color2, 7%), transparent 62%),
		linear-gradient(-45deg, transparent 63%, rgba($color2, 7%), transparent 71%);
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1;
	padding: 20px 12px;
	display: flex;
	flex-direction: column;

	&__body {
		flex: 1;
		display: flex;
		flex-direction: column;
		@media (min-width: $desktop + px) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	
	&__search-msg {
		font-size: 1.2rem;
		margin-bottom: 1em;
		color: rgba(white, 0.7);
	}
	
	@media (min-width: $desktop + px) {
		flex-direction: row;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
	}
}

.user-details {
	position: relative;
	margin-left: 0.4em;
	aspect-ratio: 3/2;
	img {
		height: 100%;
	}
	&__btn {
		padding: 8px;

		&.active + .user-details__list {
			visibility: visible;
		}
	}
	&__list {
		position: absolute;
		right: 0;
		top: 100%;
		background-color: rgba($color2, 0.1);
		backdrop-filter: blur(20px);
		display: flex;
		flex-direction: column;
		visibility: hidden;
	}
	&__item {
		color: $color2;
		font-size: 1.4rem;
		padding: 0.8rem 1rem;
	}
}

.link-btn {
	font-size: 1.2rem;
	border-bottom: solid 1px $color1;
}
.btn {
	border: 2px solid $color1;
	padding: 0.6rem 1rem;
	font-size: 1.2rem;
}
.other-way-btn {
	height: 46px;
	border: 1px solid $color2;
	aspect-ratio: 1;
	border-radius: 50%;
	padding: 10px;
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.input {
	background-color: transparent;
	border: 2px solid $color1;
	color: $color1;
	font-size: 1.2rem;
	line-height: 2;
	padding: 0 15px;
	border-radius: 8px;
	&::placeholder {
		color: rgba($color1, 0.6);
	}
}
