@import "./var.scss";

@font-face {
	font-family: "Aquarelle";
	src:
		local("Aquarelle"),
		url(./fonts/Aquarelle.ttf);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Inter";
	src:
		local("Inter Regular"),
		url("./fonts/Inter-Regular.woff2") format("woff2"),
		url("./fonts/Inter-Regular.woff") format("woff"),
		url("./fonts/Inter-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Inter";
	src:
		local("Inter Medium"),
		url("./fonts/Inter-Medium.woff2") format("woff2"),
		url("./fonts/Inter-Medium.woff") format("woff"),
		url("./fonts/Inter-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

:root {
	color: $color1;
	font-family: "Inter";
	font-size: 14px;
}

html,
body {
	height: 100vh;
}

body {
	background-color: $bg-color;
}

button {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	* {
		pointer-events: none;
	}
}
